{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}

{{ time_now|date:'M d Y' }}
{% if products %}
<h2>всего новостей - {{ products|length }}</h2>
<!-- 	<tr>	
		<td> заголовок</td>
		<td> дата</td>
		<td> контент</td>
	</tr> -->
<!-- 	{% for new in products %}
	<tr>		
		<td><h6>{{ new.title|Censor}}</h6></td>
		<td>{{ new.date|date:'d M Y' }}</td>
		<td><h5>{{ new.content|truncatechars:50|Censor }}</h5></td>
		<td><a href="{{ new.id }}/">сылка-на-новость-{{new.id}}</a></td>
	</tr>
	{% endfor %} -->
	{% for new in products %}
	<div class="card">
  <div class="card-header">
    {{ new.date|date:'d M Y' }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ new.title|Censor}}</h5>
    <p class="card-text">{{ new.content|truncatechars:50|Censor }}</p>
    <a href="{{ new.id }}/" class="btn btn-primary">сылка-на-новость-{{new.id}}</a>
  </div>
</div>
{% endfor %}
{% else %}
<h3>новостей нет</h3>
{% endif %}
{% endblock content %}